name: npm-publish
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  npm-publish:
    runs-on: ubuntu-22.04
    container: lironavon/docker-puppeteer-container:14.16.0
    env:
      CI: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Fix file permissions
        run: |
          chown -R $(whoami) .
          chmod -R u+w .
      - name: Init node
        uses: actions/setup-node@v3
        with:
          node-version: '22'
      - name: Install deps
        run: npm ci
      - name: Build
        run: npm run build
      # - name: Test
      #   run: npm test
      - name: Publish if version has been updated
        uses: pascalgn/npm-publish-action@1.3.9
        with: # All of theses inputs are optional
          tag_name: 'v%s'
          tag_message: 'v%s'
          create_tag: 'true'
          commit_pattern: "^Release (\\S+)"
          publish_command: 'npm'
          publish_args: '--access public'
        env: # More info about the environment variables in the README
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Leave this as is, it's automatically generated
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }} # You need to set this in your repo settings
